<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dormmanage.dao.StudentPasswordMapper">
  <resultMap id="BaseResultMap" type="com.example.dormmanage.bean.StudentPassword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="stu_info_id" jdbcType="INTEGER" property="stuInfoId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, password, stu_info_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student_password
    where stu_info_id = #{stuInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByStuInfoId" parameterType="java.lang.Integer">
    delete from student_password
    where stu_info_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.dormmanage.bean.StudentPassword">
    insert into student_password (id, password, stu_info_id
      )
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{stuInfoId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dormmanage.bean.StudentPassword" useGeneratedKeys="true" keyProperty="id">
    insert into student_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="stuInfoId != null">
        stu_info_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="stuInfoId != null">
        #{stuInfoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dormmanage.bean.StudentPassword">
    update student_password
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="stuInfoId != null">
        stu_info_id = #{stuInfoId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dormmanage.bean.StudentPassword">
    update student_password
    set password = #{password,jdbcType=VARCHAR},
      stu_info_id = #{stuInfoId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>